<html>
  <%- include('./partials/header.ejs') %>
  <body>
  <%- include('./partials/nav.ejs') %>
<form class="example" action="action_page">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i>Search</button>
</form>
<button><a id="gin" href="/census">Back to menu</a></button>
<br>
<br>
</body>
<%- include('./partials/footer.ejs') %>
</html>