<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sprint2_Team2_Census</title>
  <link rel="stylesheet" type="text/css" href="/pg_search.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<form class="example" action="/search">
  <input type="text" placeholder="Search Family Name.." name="search" />
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<button><a class="example" href="/mongo_census">Back to menu</a></button>

<br />
<br />
<footer>Copyright &copy; Sprint2_Team2_Census Keyin Coders Inc.</footer>
