<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
    <head>
=======
    <!-- <head>
>>>>>>> bc5792f0e4be0d99134786c815dadaa434e137f3
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sprint2_Team2_Census: Fam_id</title>
        <link rel="stylesheet" type="text/css" href="pg_search.css">
<<<<<<< HEAD
    </head>
=======
    </head> -->
>>>>>>> bc5792f0e4be0d99134786c815dadaa434e137f3
    <%- include('./partials/header.ejs') %>
    <body>      
      <%- include('./partials/nav.ejs') %>

      <div class="lost content">
        <h2>Postgres Database</h2>
        <form class="example" action="action_page">
<<<<<<< HEAD
        <input type="text" placeholder="Search Household Id.." name="search">
     
        <button><a class="example" href="/census">Back to menu</a></button>
        </form>
        
        
        <br>
        <br>

=======
        <input type="text" placeholder="Search the database.." name="search">
     
        <button><a class="example" href="/census">Back to menu</a></button>
        </form>
        </div>
>>>>>>> bc5792f0e4be0d99134786c815dadaa434e137f3
        </body>
<%- include('./partials/header.ejs') %>
</html>