<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sprint2_Team2_Census: Fam_id</title>
        <link rel="stylesheet" type="text/css" href="pg_search.css">
    </head>
    <%- include('./partials/header.ejs') %>
    <body>      
      <%- include('./partials/nav.ejs') %>

      <div class="lost content">
        <h2>Postgres Database</h2>
        <form class="example" action="/search_id">
        <input type="text" placeholder="Search Household Id.." name="search">
     
        <button><a class="example" href="/census">Back to menu</a></button>
        </form>
        <br>
        <br>
        </body>
<%- include('./partials/header.ejs') %>
</html>