<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="lost content">
          <h1>Please choose a Database to search</h1>
        
          <button><a id="line" href="/census">Postgres Database</a></button><br><br>
          <button><a id="line" href="/mongo_census">Mongo Database</a></button>
          <form action="/logout?_method=DELETE" method="POST"></br>
            <button id="gin" type="submit">Logout</button>
          </form>
          
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>



