<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="lost content">
          <h2>All Census</h2>
          <div class="dropdown">
            <button class="dropbtn">Find Name</button>
            <div class="dropdown-content">
                <a href="fam_search_mdb">Family Name</a>
                <a href="id_search.ejs">Household ID</a>
                <a href="prov_search.ejs">Province</a>
            </div>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>



    